.formOrder {
  background-color: rgba(214, 209, 190, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &__text {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 23px;
    line-height: normal;
  }

  &__input {
    & > input {
      border: 2px solid #80b778;
      border-radius: 10px;
      padding-left: 10px;
      outline: none;
      width: 300px;
      height: 35px;
      font-size: 23px;
    }
    &--red > input {
      border-color: red;
      border-radius: 10px;
      padding-left: 10px;
      outline: none;
      width: 300px;
      height: 35px;
      font-size: 23px;
    }
  }

  &__btnSubmit {
    margin: 0 auto;
    background-color: #5f9c55;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 75px;
  }

  &__content {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }

  &__btnClose {
    width: 35px;
    height: 35px;
    background-image: url("../../assets/png/btnClose.png");
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 65px;
    top: 40px;
    cursor: pointer;
  }

  &__form {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-image: url("../../assets/png/formBg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    padding: 70px 100px 30px 100px;
    opacity: 1;
    z-index: 100;
  }
}

@media (max-width: 414px) {
  .formOrder {
    &__content {
      max-width: 300px;
    }
    &__row {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__btnClose {
      right: 24px;
      top: 45px;
      width: 25px;
      height: 25px;
    }
    &__btnSubmit {
      padding: 5px 10px;
      font-size: 10px;
      line-height: 15px;
      margin-top: 0;
    }
    &__input>input {
      max-width: 200px;
      font-size: 12px;
      line-height: 18px;
    }

    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;

    }
    &__form {
      max-width: 390px;
      background-size: contain;
      padding:70px 45px 45px 30px;
    }
  }
}