.burgers {
 

  &__list {
    display: flex;
    justify-content: flex-start;
  }

  &__item {
    border: 1px solid black;
    width: 415px;

    &:nth-child(1) {
      border-right: none;
    }
    &:nth-child(2) {
      border-right: none;
    }
    &:nth-child(3) {
      border-right: none;
    }
  }

  &__itemContent {
    text-align: center; 
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    padding: 15px 10px;

    &:nth-child(2n) {
      border-top: 1px solid #000;
    }
  }

  &__count {
    padding: 10px 20px;
    background-color: #EBEBEB;
    border-radius: 39px;
    display: inline-block;
    margin-bottom: 10px;
    color: #7E7E7E;
  }

  &__price {
    background-color: #50A362;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 414px) {
  .burgers {
    &__list {
      flex-direction: column;
    }

    &__item {
      width: 380px;
      &:nth-child(1) {
        border-right: 1px solid #000;
      }
      &:nth-child(2) {
        border-right: 1px solid #000;
      }
      &:nth-child(3) {
        border-right: 1px solid #000;
      }
    }
  }
}