.burgers {
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    background: #f1f1f1;
    box-shadow: -2px 11px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 20px 10px 10px 10px;
    position: relative;
    min-width: 250px;
  }

  &__img {
    width: 168px;
    margin: 0 auto;
  }

  &__imgContainer {
    text-align: center;
  }

  &__itemText {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 300px;
    text-align: center;
    margin-bottom: 5px;
    min-height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__itemCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    color: #555555;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
  }

  &__itemInput {
    font-family: "Roboto";
    color: #555555;
    font-size: 26px;
    background: #ffffff;
    box-shadow: 1px 1px 13px 3px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    outline: none;
    border: none;
  }

  &__price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    background: #50a362;
    border-radius: 15px;
    text-align: center;
    max-width: 150px;
    padding: 14px 23px;
    margin: 0 auto;
  }

  &__icon {
    display: block;
    position: absolute;
    top: -25px;
    right: -40px;
    width: 112px;
    height: 112px;
    background-repeat: no-repeat;
    background-size: contain;

    &--chicken {
      background-image: url("../../assets/png/chiken.png");
    }
    &--turkey {
      background-image: url("../../assets/png/turkey.png");
    }
    &--cow {
      background-image: url("../../assets/png/cow.png");
    }
    &--pig {
      background-image: url("../../assets/png/pig.png");
    }
  }

  &__input {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__title {
    margin-bottom: 76px;
    // max-width: 90%;
  }
}

@media (max-width: 1399px) {
  .burgers {
    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 32px;
      margin-right: 10px;

      // &:nth-child(2n) {
      //   margin-right: 0;
      // }
    }
  }
}

@media (max-width: 1229px) {
  .burgers {
    &__item {
      margin-bottom: 32px;
      margin-right: 155px;
    }
  }
}
@media (max-width: 1050px) {
  .burgers {
    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 32px;
      margin-right: 90px;
      margin-left: 30px;
    }
  }
}

@media (max-width: 893  px) {
  .burgers {
    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      margin-right: 20px;
    }
  }
}

@media (max-width: 724px) {
  .burgers {
    &__list {
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
    }

    &__item {
      margin: 0 auto;
      margin-bottom: 50px;

      &:nth-child(2n) {
        margin: 0 auto;
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width: 400px) {
  .burgers {
    &__item {
      min-width: 249px;
      max-width: 250px;
      padding: 13px 20px 20px 20px;
    }

    &__itemCounter {
      font-size: 18px;
    }
  }
}
