.garnish {
  padding: 50px 0;

  &__content {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    font-family: "M PLUS 1p", sans-serif;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000;
  }

  &__img {
    margin-right: 25px;
    max-width: 100%;
  }

  &__subText {
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: normal;
    font-size: 36px;
  }

  &__text {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: 41px;
    letter-spacing: 0em;
  }

  &__textContainer {
    margin-right: 30px;
    text-align: center;
  }

  &__price {
    background-color: #50a362;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 39px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }
}

@media (max-width: 414px) {
  .garnish {
    &__textContainer {
      margin-right: 0;
    }
  }
}
