.OrderListInfo {
  padding: 50px 0;

  &__warning {
    color: rgba(143, 22, 37, 1);
  }

  &__form {
    display: flex;
    flex-direction: row;
    min-height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    // max-width: 790px;
    padding: 0px 55px 0px 55px;
    margin: 0 auto;
    position: relative;

    &--empty {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  &__formTitle {
    max-width: 509px;
  }

  &__item {
    margin-bottom: 40px;
    width: 100%;
    margin-right: 15px;
  }

  &__price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
  }

  &__btnContainer {
    height: auto;
    margin-left: 4rem;
    margin-top: 20px;
  }

  &__btn {
    background: #8f1625;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 15px 90px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__orderEmpty {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1399px) {
  .OrderListInfo {
    &__form {
      display: flex;
      flex-direction: row;
      background-size: contain;
    }
    &__btnContainer {
      height: auto;
      margin-left: 4rem;
    }
  }
}
@media (max-width: 1050px) {
  .OrderListInfo {
    &__form {
      display: flex;
      flex-direction: column;
      background-size: contain;
    }
    &__btnContainer {
      height: auto;
      margin: 0 auto;
      margin-top: 20px;
    }
    &__price {
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (max-width: 850px) {
  .OrderListInfo {
    &__form {
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__titleContainer {
      margin-bottom: 10px;
    }

    &__item {
      margin: 0 auto;
      padding: 10px 10px !important;
      max-width: 600px;
    }

    &__price {
      margin: 0 auto;

      font-size: 20px;
      text-align: center;
    }

    &__btn {
      font-size: 18px;
    }
  }
}

@media (max-width: 569px) {
  .OrderListInfo {
    &__warning {
      font-size: 16px;
    }
    &__orderEmpty {
      font-size: 20px;
    }

    &__form {
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__item {
      max-width: 430px;
    }

    &__price {
      font-size: 20px;
    }

    &__btn {
      font-size: 18px;
    }
  }
}

@media (max-width: 475px) {
  .OrderListInfo {
    &__btn {
      padding: 6px 25px;
      border-radius: 5px;
    }

    &__formTitle {
      padding: 5px;
      max-width: 160px;
    }
    &__btnContainer {
      margin-left: 0;
    }
    &__form {
      background-repeat: no-repeat;
      background-size: contain;
    }
    &__item {
      max-width: 360px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 340px) {
  .OrderListInfo {
    &__form {
    }
  }
}
