$main-fontFamily: "Roboto";

.aboutUs {
  padding: 30px 0;

  &__list-title {
    margin-bottom: 20px;
  }

  &__list {
    text-align: left;
    padding-left: 150px;
  }

  &__content {
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 41px;
    color: #7b1a20;
    text-align: center;
    font-family: $main-fontFamily;
    font-style: normal;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 850px) {
  .aboutUs {
    padding: 20px 5px 20px 5px;

    &__list {
      padding-left: 20px;
    }
    &__content {
      font-size: 18px;
    }
  }
}
