.footer {
  background-color: #8E8D8D;
  padding: 35px 5px 35px 5px;
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 46px;
  text-align: center;
  position: relative;
  max-width: 100%;

  &::before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    height: 5px;
    background-color: #8E8D8D;
    top: -10px;
  }
}

@media (max-width: 750px) {
  .footer {
    font-size: 16px;
  }
}