.footer {
  background-color: #8e8d8d;
  padding: 22px 36px;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  position: relative;
  max-width: 100%;

  &::before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    height: 5px;
    background-color: #8e8d8d;
    top: -10px;
  }
}

@media (max-width: 750px) {
  .footer {
    font-size: 16px;
  }
}
