.orderBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  &__btn {
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-size: cover;
    background-color: transparent;
    font-family: "Averia Sans Libre", cursive;
    font-size: 44px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    &--ukrBrown {
      background-image: url("../../assets/png/btnBrownUkr.png");
      width: 655px;
      height: 155px;
    }

    &--greenUkr {
      background-image: url("../../assets/png/greenUkr.png");
      width: 240px;
      height: 155px;
      display: block;
    }

    &--yellow {
      background-image: url("../../assets/png/yellowBtn.png");
      width: 236px;
      height: 155px;
      display: block;
    }

    &--brown {
      background-image: url("../../assets/png/brownBtn.png");
      width: 655px;
      height: 155px;
    }
    &--green {
      background-image: url("../../assets/png/greenBtn.png");
      width: 240px;
      height: 155px;
      display: block;
    }
  }
}

.orderBtnsMobile {
  display: none;
}

@media (max-width: 1145px) {
  .orderBtns {
    display: none;
  }

  .orderBtnsMobile {
    display: block;

    &__btnContainer {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__btn {
      width: 235px;
      height: 105px;
      background-color: transparent;
      border: none;
      outline: none;
      margin: 0 auto;
      text-align: center;
      display: block;

      &--yellow {
        background-image: url("../../assets/png/mobBtn3.png");
      }
      &--brown {
        background-image: url("../../assets/png/mobBtn1.png");
      }
      &--green {
        background-image: url("../../assets/png/mobBtn2.png");
      }
    }
  }
}
