.sliderImg {
  width: 100%;
  z-index: -1;
  text-align: center;
  &__slide {
    width: 90%;
  }

}

.sliderContainer {
  position: relative;
  z-index: 0;
  padding: 0 50px;
}

.swiper-pagination-bullet { 
  --swiper-theme-color: #8F1727 !important;
}

.swiper-button-prev {
  position: absolute;
  top: 50% !important;
  left: 0 !important;
  width: 45px !important;
  height: 45px !important;
  z-index: 1000 !important;
  color: black !important;  

  &::after {
    content: ' ' !important;
    width: 30px !important;
    height: 30px !important;
    display: block !important;
    background: url('../../assets/svg/arrowleft.svg') !important;
    background-repeat: no-repeat !important; 
    background-size: contain !important;
    background-position: center !important;
  }
}

.swiper-button-next {
  position: absolute;
  top: 50% !important;
  right: 0 !important;
  width: 45px !important;
  height: 45px !important;
  z-index: 1000 !important;
  color: black !important;
   


  &::after {
    content: ' ' !important;
    width: 30px !important;
    height: 30px !important;
    display: block !important;
    background: url('../../assets/svg/arrowright.svg') !important;
    background-repeat: no-repeat !important; 
    background-size: contain !important;
    background-position: center !important;
  }
}

@media (max-width: 414px) {
  .sliderContainer {
    padding: 0;
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}