.drinks {
  padding: 50px 0;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    font-family: "M PLUS 1p", sans-serif;
  }

  &__text {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: normal;
  }

  &__item {
    max-width: 245px;
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    text-align: center;
    margin-right: 325px;
    margin-bottom: 60px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__price {
    background-color: #50a362;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 39px;
    margin-top: 10px;
  }
}

@media (max-width:1395px) {
  .drinks {

    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__item {
      margin-right: auto;
      margin-left: auto;
      &:nth-child(3n) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 750px) {
  .drinks {
    &__item {
      margin-right: auto;
      margin-left: auto;

      &:nth-child(3n) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
