.title {
  padding: 15px 70px;
  background-color: #8f1625;
  border-radius: 15px;
  display: inline-block;
  color: #fff;
  font-family: "M PLUS 1p", sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.titleContainer {
  text-align: center;
  margin-bottom: 30px;
}
