.header {
  padding: 25px 0;
  display: flex;
  justify-content: flex-start;

  &__logoContainer {
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__logoLine {
    height: 30px;
    width: 330px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin-right: 20px;
    margin-left: 0;

    &:last-child{
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__logo {
    background-image: url('../../assets/svg/blogo1.svg');
    width: 280px;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__btnsContainer {
    margin-right: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    height: 100px;
    width: 90px;
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    
    &--orderNow {
      background-image: url('../../assets/png/order_now.png');
    }
    &--joinClub {
      background-image: url('../../assets/png/join_club.png');
      background-position: bottom;
      display: inline-block;
    }
  }
}

@media (max-width: 414px) {
  .header {
    &__btnsContainer {
      display: none;
    }

    &__logoLine {
      display: none;
    }

    &__logo {
      width: 230px;
      height: 60px;
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    &__logoContainer {
      text-align: center;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1268px) {
  .header {
    &__logoLine {
      width: 100px;
    }
  }
}