.meatInfo {
  padding: 50px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    border: 1px solid #000000;
    padding: 20px 10px;
    width: 347px;

    &:nth-child(1) {
      border-right: none;
    }
    &:nth-child(2) {
      border-right: none;
    }
    &:nth-child(3) {
      border-right: none;
    }
  }

  &__itemText {
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    max-width: 270px;
    margin: 0 auto;
    color: #000000;
    margin-top: 10px;
  }

  &__img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  &__text {
    color: #000;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (max-width: 414px) {
  .meatInfo {

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 20px;
      padding: 10px 15px;
      max-width: 320px;
    }
    &__item {
      &:nth-child(1) {
        border-right: 1px solid #000;
      }
      &:nth-child(2) {
        border-right: 1px solid #000;
      }
      &:nth-child(3) {
        border-right: 1px solid #000;
      }
    }
  }
}
